body {
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    /* align-items: center; */
}
#options {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

button {
    padding: 30px;
}